body{
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}



.container{
  background-color: rgba(255, 255, 255, 0.17);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  border-radius: 50px;
  width: 500px;
  height: 600px;
  transition: all 1000ms;
  
  
}

.container:hover{
  color: black;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
}

.informations{
  flex-direction: column;
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  
  
}

button{
  background-color: whitesmoke;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  transition: all 1000ms;
  margin-top: 100px;
  
  
  
}

button:hover{
  border-radius: 0px;
  background-color: black;
  color: white;
  cursor: pointer;
}